.bg-default-image{
    background-image: url("/images/default.jpg");
    background-size: 100%;
    height: 175px;
    text-shadow: 3px 3px 9px #000;
}
.logo{
    text-shadow: 4px 4px navy;
}

.active{
    background-color: Blue;
}

.pointer {
    cursor: pointer;
}
